@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-mulish);
  background: #ffffff;
  color: #171717;
}
/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: var(--font-mulish);
}
/*
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mulish);
}*/

.backdrop-custom {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}

/* Tu animación extra */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 40s linear infinite;
}
