@import "tailwindcss";

@theme {
  --font-family: var(--font-mulish);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mulish);
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
}

.backdrop-custom {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}


@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 40s linear infinite;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes up {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}

.up {
  animation: up 1s ease-out forwards;
}